@{
    ViewData["Title"] = "Login";
}

<html>
<head>
    <link href="~/css/signin.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="">
        <div style="width:40%">
	    <h1 align="center">Login</h1>
            <lable>Enter Email:</lable><br />
            <input type="email" name="email" id="email" placeholder="eg:- abc@gmail.com" required /><br />

            <lable>Enter Password:</lable><br />
            <input type="password" name="password" id="password" required/><br />

            <a href="User/UserAdd">Don't Have an Account ? Create Account</a><br />

            <input type="submit" value="Sign in" class="submit" />
        </div>
    </form>
</body>
</html>
