@{
    ViewData["Title"] = "Form";
}

<html>
<head>
    <style>
        form{
            display: flex;
            justify-content: center;
        }
        input[type=text], [type=date], [type=number], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type=submit] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            border: 1px solid;
            border-radius: 4px;
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <form method="post" action="">
        <div style="width:40%">
            <h1 align="center">Add Task</h1>
            <lable>Task Name:</lable><br />
            <input type="text" name="taskname" id="taskname" placeholder="task name" required /><br />

            <lable>Task Assined From:</lable><br />
            <input type="text" name="taskassinedfrom" id="taskassinedfrom" placeholder="assigned from" required /><br />

            <lable>Task Assined To:</lable><br />
            <input type="text" name="taskassinedto" id="taskassinedto" placeholder="assigned to" required /><br />

            <lable>Task Assined Date:</lable><br />
            <input type="date" name="taskassineddate" id="taskassineddate" required /><br />

            <lable>Task Duration:</lable><br />
            <input type="number" name="taskduration" id="taskduration" placeholder="number of hours" required /><br />

            <label>Choose a Status:</label><br />
            <select name="taskdtatus" id="taskdtatus" required>
                <option value="" disabled selected>select your option</option>
                <option value="completed">Completed</option>
                <option value="ongoing">On Going</option>
                <option value="fixing">Fixing</option>
            </select><br />

            <input type="submit" value="Submit" class="submit" />
        </div>
    </form>
</body>
</html>
