@{
    ViewData["Title"] = "TaskbookView";
}

<html>
<head>
    <style>
        table{
            width:100%;
        }
        input[type=button]{
            margin-left:3px;
            margin-top:3px;
        }

        td, th {
            width:13%;
            border: 1.5px solid #000000;
            padding: 8px;
        }

        th{
            background-color:#00bdf7;
        }
    </style>
</head>
<body>
    <form>
        <div>
            <h1 align="center">View Task</h1><br />
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Assigned From</th>
                    <th>Assigned To</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>

                <tr>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td><input type="button" class="btn btn-secondary" value="view"/>
                        <input type="Button" class="btn btn-danger" value="Delete"/></td>
                </tr>
		    </table>
        </div>
    </form>
</body>
</html>
