@model CRUDWebApplication.Models.UserEditModel

<html>
<head>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/useraddandeditvalidation.js"></script>
    <link href="~/css/useraddandedit.css" rel="stylesheet" />
</head>
<body>
    <form id="userform" method="post" action="UserEdit">
        <div style="width:40%">
            <h1 align="center">User Edit</h1>

            <input type="hidden" name="Id" asp-for="Id" />

            <label>Enter Username:</label><br />
            <input type="text" name="name" id="name" placeholder="Name" asp-for="Name" required /><br />

            <label>Enter DOB:</label><br />
            <input type="date" name="dateofbirth" id="dateofbirth" asp-for="Dateofbirth" required /><br />

            <label>Enter Phone:</label><br />
            <input type="tel" name="phone" id="phone" pattern="[0-9]{10}" maxlength="12" placeholder="eg:- 0123456789" asp-for="Phone" required><br>

            <label>Enter Address:</label><br />
            <textarea name="address" id="address" rows="4" cols="50" asp-for="Address" required></textarea>

            <label>Enter Email:</label><br />
            <input type="email" name="email" id="email" placeholder="eg:- abc@gmail.com" asp-for="Email" required /><br />

            <label>Enter Password:</label><br />
            <input type="text" name="password" id="password" minlength="8" asp-for="Password" required /><br />

            <input type="submit" value="Update" class="submit" />
            <button type="submit" value="Delete" class="delete" asp-controller="User" asp-action="UserDelete">Delete</button>
        </div>
    </form>
</body>
</html>
