
@{
    var registrationErrorMessage = TempData["registrationErrorMessage"]?.ToString();
}
<html>
<head>
    <link href="~/Content/custom.css" rel="stylesheet" />
</head>
<body>
    <form id="SportsForm" style="display: flex; justify-content: center;" method="post" action="SportsAdd">
        @if (!string.IsNullOrWhiteSpace(registrationErrorMessage))
        {
            <div class="alert alert-dismissible alert-danger" style="margin-top: 20px" role="alert">
                <strong>@registrationErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="form-design">
            <h1 class="form-heading">Sport Add</h1>

            <div>
                <label>Enter Sport Name:</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Sport Name" asp-for="Name" required />
            </div>

            <div>
                <label>Select Type Of Turf:</label>
                <select id="Turftype" name="Turftype" asp-for="Turftype" required>
                    <option value="" disabled selected>select your option</option>
                    <option value="Indoor Turf">Indoor Turf</option>
                    <option value="Outdoor Turf">Outdoor Turf</option>
                </select>
            </div>

            <input type="submit" value="Add Sport" />
        </div>
    </form>
</body>
</html>