@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<html>
<head>
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="form-design">
            <h1 class="form-heading">Create a new account</h1>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div>
                <label asp-for="Input.Email">Enter Email:</label>
                <input asp-for="Input.Email" class="form-control" placeholder="eg:-abc@gmail.com" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.Password">Enter Password:</label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Input.ConfirmPassword">Enter Confirm Password:</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <input type="submit" id="registerSubmit" value="Register" />
        </div>
    </form>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
