@{
    ViewBag.Title = "Home Page";
}
<html>
<body>
    <main>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <h2 id="gettingStartedTitle">Getting started</h2>
            </section>
        </div>
    </main>
</body>
</html>
