@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        .heading {
            margin-top: 40px;
            font-size: 13vw;
            font-family: serif;
            display: flex;
            justify-content: center;
            color: #000000;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="heading">Welcome To Turf Booking</h1>
    </div>
</body>

</html>