<html>
<head>
    <style>
        #registerForm {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <form id="registerForm" method="post" action="UserAdd">
        <div class="form-design">

            <h1 class="form-heading">Register</h1>

            <div>
                <label>Enter Name:</label>
                <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" asp-for="Name" required />
            </div>

            <div>
                <label>Enter Date of Birth:</label>
                <input type="date" class="form-control" id="DateOfBirth" name="DateOfBirth" asp-for="DateOfBirth" required />
            </div>

            <div>
                <label>Enter Email:</label>
                <input type="email" class="form-control" id="Email" name="Email" placeholder="eg:-abc@xyz.com" asp-for="Email" required />
            </div>

            <div>
                <label>Enter Password:</label>
                <input type="password" class="form-control" id="Password" name="Password" minlength="8" asp-for="Password" required />
            </div>

            <input type="submit" style="margin-top:5px;width:100%;" value="Register" />
        </div>
    </form>
</body>
</html>
