@using Microsoft.AspNetCore.Identity
@using CRUDWebApplication.Areas.Identity.Data

@model CRUDWebApplication.Models.SPTaskbookModel
@inject SignInManager<DatabaseRegistrationModel> SignInManager
@inject UserManager<DatabaseRegistrationModel> UserManager
@{
    var addErrorMessage = TempData["addErrorMessage"]?.ToString();
    var usr = await UserManager.GetUserAsync(User);
    var email = usr?.Email;
}
<html>
<head>
    <a href="~/lib/jquery/dist/jquery.min.map"></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/taskvalidation.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
</head>
<body>
    <form id="taskbookform" method="post" action="TaskbookAdd">
        @if (!string.IsNullOrWhiteSpace(addErrorMessage))
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>@addErrorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <div class="form-design">

            <h1 class="add-heading">Task Add</h1>

            <lable>Task Name:</lable><br />
            <input type="text" name="name" id="name" placeholder="task name" asp-for="Name" required /><br />

            <lable>Task Assined From:</lable><br />
            <input type="text" name="assignedfrom" id="assignedfrom" placeholder="assigned from" asp-for="Assignedfrom" required /><br />

            <lable>Task Assined To:</lable><br />
            <input type="text" name="assignedto" id="assignedto" placeholder="assigned to" asp-for="Assignedto" required /><br />

            <lable>Task Assined Date:</lable><br />
            <input type="date" name="assigneddate" id="assigneddate" asp-for="Assigneddate" required /><br />

            <label>Choose a Status:</label><br />
            <select name="status" id="status" asp-for="Status" required>
                <option value="" disabled selected>select your option</option>
                <option value="completed">Completed</option>
                <option value="ongoing">On Going</option>
                <option value="fixing">Fixing</option>
            </select><br />

            <input type="hidden" name="email" asp-for="@email" /><br />
            <input type="submit" value="Submit" class="task-submit" />
        </div>
    </form>
</body>
</html>
