#taskbookform {
    display: flex;
    justify-content: center;
}

input[type=text], [type=date], [type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid;
    border-radius: 4px;
    background-color: #45a049;
}

table {
    width: 100%;
}

td, th {
    width: 13%;
    border: 1.5px solid #000000;
    padding: 8px;
}

th {
    font-family: serif;
    background-color: #00bdf7;
}
