#registerForm {
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    border: 1.5px solid #000000;
    padding: 8px;
}

th {
    font-family: serif;
    background-color: #00ffb1cc;
}

.main-heading {
    font-size: 25px;
    font-family: serif;
    margin-right: 20px;
}
